doctype html
html(lang="en")
    head
        title #{title}
        link(rel="stylesheet" href="/css/style.css")
    body
        a(href="/update-cobj") Add to this table
        h1 My Pets
        div.cards
            each pet in data
                div.card
                    h2 #{pet.properties.pet_name}
                    p Type: #{pet.properties.pet_type}
                    p Birthday: #{pet.properties.pet_birthday}